In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import glob
import datetime
%matplotlib inline

In [2]:
path = "data/" # use your path
all_files = glob.glob(path + "/*.csv")
all_files

['data/Macao2017.csv',
 'data/Malaysia2018.csv',
 'data/Bulgaria2009.csv',
 'data/Malta2013.csv',
 'data/Italy2018.csv',
 'data/Venezuela2011.csv',
 'data/Georgia2009.csv',
 'data/Peru2019.csv',
 'data/South Africa2010.csv',
 'data/Brunei Darussalam2010.csv',
 'data/Belgium2012.csv',
 'data/Cyprus2017.csv',
 'data/New Zealand2012.csv',
 'data/Chile2010.csv',
 'data/Japan2018.csv',
 'data/Jordan2010.csv',
 'data/Germany2011.csv',
 'data/France2014.csv',
 'data/Qatar2009.csv',
 'data/Turkey2017.csv',
 'data/Ecuador2017.csv',
 'data/Ukraine2018.csv',
 'data/Maldives2010.csv',
 'data/Netherlands2014.csv',
 'data/Kenya2015.csv',
 'data/Austria2010.csv',
 'data/Austria2011.csv',
 'data/Kenya2014.csv',
 'data/Netherlands2015.csv',
 'data/Maldives2011.csv',
 'data/Ukraine2019.csv',
 'data/Ecuador2016.csv',
 'data/Turkey2016.csv',
 'data/France2015.csv',
 'data/Germany2010.csv',
 'data/Chile2011.csv',
 'data/Jordan2011.csv',
 'data/Japan2019.csv',
 'data/New Zealand2013.csv',
 'data/Belgium2013.csv',
 'data/Cyprus2016.csv',
 'data/United Kingdom2009.csv',
 'data/Romania2009.csv',
 'data/Brunei Darussalam2011.csv',
 'data/South Africa2011.csv',
 'data/Peru2018.csv',
 'data/Venezuela2010.csv',
 'data/Italy2019.csv',
 'data/Malta2012.csv',
 'data/Thailand2009.csv',
 'data/Malaysia2019.csv',
 'data/Macao2016.csv',
 'data/Macao2014.csv',
 'data/Slovenia2019.csv',
 'data/Malta2010.csv',
 'data/Venezuela2012.csv',
 'data/Morocco2009.csv',
 'data/Mauritius2018.csv',
 'data/Spain2019.csv',
 'data/South Africa2013.csv',
 'data/Philippines2009.csv',
 'data/Botswana2018.csv',
 'data/Slovakia (Slovak Republic)2019.csv',
 'data/Brunei Darussalam2013.csv',
 'data/Cyprus2014.csv',
 'data/Belgium2011.csv',
 'data/Jordan2013.csv',
 'data/Chile2013.csv',
 'data/New Zealand2011.csv',
 'data/France2017.csv',
 'data/Germany2012.csv',
 'data/Turkey2014.csv',
 'data/Ecuador2014.csv',
 'data/Maldives2013.csv',
 'data/Netherlands2017.csv',
 'data/Australia2019.csv',
 'data/Kenya2016.csv',
 'data/Ireland2019.csv',
 'data/Austria2013.csv',
 'data/Austria2012.csv',
 'data/Ireland2018.csv',
 'data/Kenya2017.csv',
 'data/Australia2018.csv',
 'data/Netherlands2016.csv',
 'data/Maldives2012.csv',
 'data/Ecuador2015.csv',
 'data/Turkey2015.csv',
 'data/Germany2013.csv',
 'data/France2016.csv',
 'data/New Zealand2010.csv',
 'data/Rwanda2009.csv',
 'data/Jordan2012.csv',
 'data/Chile2012.csv',
 'data/El Salvador2009.csv',
 'data/Cyprus2015.csv',
 'data/Belgium2010.csv',
 'data/Brunei Darussalam2012.csv',
 'data/Botswana2019.csv',
 'data/Slovakia (Slovak Republic)2018.csv',
 'data/Spain2018.csv',
 'data/South Africa2012.csv',
 'data/Mauritius2019.csv',
 'data/Venezuela2013.csv',
 'data/Malta2011.csv',
 'data/Slovenia2018.csv',
 'data/Macao2015.csv',
 'data/Macao2011.csv',
 'data/Venezuela2017.csv',
 'data/Malta2015.csv',
 'data/Botswana2009.csv',
 'data/Philippines2018.csv',
 'data/Brunei Darussalam2016.csv',
 'data/South Africa2016.csv',
 'data/Morocco2018.csv',
 'data/Mauritius2009.csv',
 'data/Chile2016.csv',
 'data/Jordan2016.csv',
 'data/Rwanda2019.csv',
 'data/New Zealand2014.csv',
 'data/Belgium2014.csv',
 'data/El Salvador2019.csv',
 'data/Cyprus2011.csv',
 'data/Turkey2011.csv',
 'data/France2012.csv',
 'data/Germany2017.csv',
 'data/Maldives2016.csv',
 'data/Netherlands2012.csv',
 'data/Ecuador2011.csv',
 'data/Kenya2013.csv',
 'data/Austria2016.csv',
 'data/Ireland2009.csv',
 'data/Austria2017.csv',
 'data/Kenya2012.csv',
 'data/Ecuador2010.csv',
 'data/Netherlands2013.csv',
 'data/Maldives2017.csv',
 'data/Australia2009.csv',
 'data/Germany2016.csv',
 'data/France2013.csv',
 'data/Turkey2010.csv',
 'data/El Salvador2018.csv',
 'data/Belgium2015.csv',
 'data/Cyprus2010.csv',
 'data/Rwanda2018.csv',
 'data/New Zealand2015.csv',
 'data/Chile2017.csv',
 'data/Jordan2017.csv',
 'data/Morocco2019.csv',
 'data/South Africa2017.csv',
 'data/Spain2009.csv',
 'data/Philippines2019.csv',
 'data/Brunei Darussalam2017.csv',
 'data/Slovakia (Slovak Republic)2009.csv',
 'data/Malta2014.csv',
 'data/Venezuela2016.csv',
 'data/Macao2010.csv',
 'data/Slovenia2009.csv',
 'data/Thailand2019.csv',
 'data/Bulgaria2018.csv',
 'data/Malaysia2009.csv',
 'data/Macao2012.csv',
 'data/Venezuela2014.csv',
 'data/Georgia2018.csv',
 'data/Malta2016.csv',
 'data/Italy2009.csv',
 'data/Brunei Darussalam2015.csv',
 'data/United Kingdom2019.csv',
 'data/Romania2019.csv',
 'data/South Africa2015.csv',
 'data/New Zealand2017.csv',
 'data/Japan2009.csv',
 'data/Jordan2015.csv',
 'data/Chile2015.csv',
 'data/Cyprus2012.csv',
 'data/Belgium2017.csv',
 'data/Qatar2018.csv',
 'data/Turkey2012.csv',
 'data/Germany2014.csv',
 'data/France2011.csv',
 'data/Maldives2015.csv',
 'data/Netherlands2011.csv',
 'data/Ukraine2009.csv',
 'data/Ecuador2012.csv',
 'data/Kenya2010.csv',
 'data/Austria2015.csv',
 'data/Austria2014.csv',
 'data/Kenya2011.csv',
 'data/Ecuador2013.csv',
 'data/Netherlands2010.csv',
 'data/Maldives2014.csv',
 'data/France2010.csv',
 'data/Germany2015.csv',
 'data/Turkey2013.csv',
 'data/Qatar2019.csv',
 'data/Cyprus2013.csv',
 'data/Belgium2016.csv',
 'data/Jordan2014.csv',
 'data/Chile2014.csv',
 'data/New Zealand2016.csv',
 'data/South Africa2014.csv',
 'data/Romania2018.csv',
 'data/Brunei Darussalam2014.csv',
 'data/United Kingdom2018.csv',
 'data/Malta2017.csv',
 'data/Georgia2019.csv',
 'data/Peru2009.csv',
 'data/Venezuela2015.csv',
 'data/Bulgaria2019.csv',
 'data/Macao2013.csv',
 'data/Thailand2018.csv',
 'data/Sri Lanka2011.csv',
 'data/Costa Rica2016.csv',
 'data/Guatemala2014.csv',
 'data/Denmark2012.csv',
 'data/India2009.csv',
 'data/Switzerland2019.csv',
 'data/Singapore2015.csv',
 'data/Paraguay2017.csv',
 'data/Saudi Arabia2018.csv',
 'data/Bolivia2018.csv',
 'data/Norway2018.csv',
 'data/Lithuania2016.csv',
 'data/Egypt2009.csv',
 'data/South Korea2016.csv',
 'data/United States Of America2010.csv',
 'data/Jamaica2016.csv',
 'data/Serbia2016.csv',
 'data/Iceland2015.csv',
 'data/Finland2010.csv',
 'data/Luxembourg2016.csv',
 'data/Czech Republic2017.csv',
 'data/Estonia2013.csv',
 'data/Greece2009.csv',
 'data/Hungary2018.csv',
 'data/Croatia2010.csv',
 'data/China2014.csv',
 'data/Latvia2017.csv',
 'data/Kyrgyzstan2014.csv',
 'data/Bosnia And Herzegovina2012.csv',
 'data/Brazil2009.csv',
 'data/Belarus2016.csv',
 'data/Belize2015.csv',
 'data/Belize2014.csv',
 'data/Belarus2017.csv',
 'data/Bosnia And Herzegovina2013.csv',
 'data/Kyrgyzstan2015.csv',
 'data/Latvia2016.csv',
 'data/China2015.csv',
 'data/Hungary2019.csv',
 'data/Croatia2011.csv',
 'data/Estonia2012.csv',
 'data/Czech Republic2016.csv',
 'data/Hong Kong2009.csv',
 'data/Luxembourg2017.csv',
 'data/Finland2011.csv',
 'data/Iceland2014.csv',
 'data/Serbia2017.csv',
 'data/Colombia2009.csv',
 'data/Jamaica2017.csv',
 'data/United States Of America2011.csv',
 'data/South Korea2017.csv',
 'data/Lithuania2017.csv',
 'data/Norway2019.csv',
 'data/Bolivia2019.csv',
 'data/Saudi Arabia2019.csv',
 'data/Singapore2014.csv',
 'data/Paraguay2016.csv',
 'data/Denmark2013.csv',
 'data/Switzerland2018.csv',
 'data/Guatemala2015.csv',
 'data/Uruguay2009.csv',
 'data/Costa Rica2017.csv',
 'data/Sri Lanka2010.csv',
 'data/Sri Lanka2012.csv',
 'data/Costa Rica2015.csv',
 'data/Indonesia2019.csv',
 'data/Guatemala2017.csv',
 'data/Denmark2011.csv',
 'data/Paraguay2014.csv',
 'data/Singapore2016.csv',
 'data/Lithuania2015.csv',
 'data/Poland2018.csv',
 'data/Canada2018.csv',
 'data/Sweden2018.csv',
 'data/South Korea2015.csv',
 'data/United States Of America2013.csv',
 'data/Russian Federation2018.csv',
 'data/Serbia2015.csv',
 'data/Iceland2016.csv',
 'data/Luxembourg2015.csv',
 'data/Finland2013.csv',
 'data/Jamaica2015.csv',
 'data/Czech Republic2014.csv',
 'data/Isreal2018.csv',
 'data/Estonia2010.csv',
 'data/Croatia2013.csv',
 'data/China2017.csv',
 'data/Mexico2019.csv',
 'data/Kyrgyzstan2017.csv',
 'data/Bosnia And Herzegovina2011.csv',
 'data/Latvia2014.csv',
 'data/Belarus2015.csv',
 'data/Belize2016.csv',
 'data/Albania2009.csv',
 'data/Belize2017.csv',
 'data/Belarus2014.csv',
 'data/Latvia2015.csv',
 'data/Bosnia And Herzegovina2010.csv',
 'data/Kyrgyzstan2016.csv',
 'data/Mexico2018.csv',
 'data/China2016.csv',
 'data/Portugal2009.csv',
 'data/Croatia2012.csv',
 'data/Isreal2019.csv',
 'data/Estonia2011.csv',
 'data/Czech Republic2015.csv',
 'data/Jamaica2014.csv',
 'data/Macedonia2009.csv',
 'data/Finland2012.csv',
 'data/Luxembourg2014.csv',
 'data/Iceland2017.csv',
 'data/Serbia2014.csv',
 'data/Russian Federation2019.csv',
 'data/United States Of America2012.csv',
 'data/South Korea2014.csv',
 'data/Sweden2019.csv',
 'data/Poland2019.csv',
 'data/Canada2019.csv',
 'data/Lithuania2014.csv',
 'data/Paraguay2015.csv',
 'data/Singapore2017.csv',
 'data/Denmark2010.csv',
 'data/Guatemala2016.csv',
 'data/Argentina2009.csv',
 'data/Costa Rica2014.csv',
 'data/Sri Lanka2013.csv',
 'data/Indonesia2018.csv',
 'data/Argentina2019.csv',
 'data/Costa Rica2010.csv',
 'data/Sri Lanka2017.csv',
 'data/Guatemala2012.csv',
 'data/Singapore2013.csv',
 'data/Paraguay2011.csv',
 'data/Denmark2014.csv',
 'data/Russian Federation2009.csv',
 'data/South Korea2010.csv',
 'data/United States Of America2016.csv',
 'data/Sweden2009.csv',
 'data/Poland2009.csv',
 'data/Canada2009.csv',
 'data/Lithuania2010.csv',
 'data/Czech Republic2011.csv',
 'data/Serbia2010.csv',
 'data/Luxembourg2010.csv',
 'data/Finland2016.csv',
 'data/Iceland2013.csv',
 'data/Macedonia2019.csv',
 'data/Jamaica2010.csv',
 'data/Croatia2016.csv',
 'data/Portugal2019.csv',
 'data/Isreal2009.csv',
 'data/Estonia2015.csv',
 'data/Kyrgyzstan2012.csv',
 'data/Bosnia And Herzegovina2014.csv',
 'data/Latvia2011.csv',
 'data/China2012.csv',
 'data/Albania2018.csv',
 'data/Belarus2010.csv',
 'data/Belize2013.csv',
 'data/Belize2012.csv',
 'data/Belarus2011.csv',
 'data/Albania2019.csv',
 'data/Mexico2009.csv',
 'data/China2013.csv',
 'data/Latvia2010.csv',
 'data/Bosnia And Herzegovina2015.csv',
 'data/Kyrgyzstan2013.csv',
 'data/Estonia2014.csv',
 'data/Portugal2018.csv',
 'data/Croatia2017.csv',
 'data/Jamaica2011.csv',
 'data/Iceland2012.csv',
 'data/Finland2017.csv',
 'data/Luxembourg2011.csv',
 'data/Serbia2011.csv',
 'data/Macedonia2018.csv',
 'data/Czech Republic2010.csv',
 'data/Lithuania2011.csv',
 'data/United States Of America2017.csv',
 'data/South Korea2011.csv',
 'data/Denmark2015.csv',
 'data/Singapore2012.csv',
 'data/Paraguay2010.csv',
 'data/Guatemala2013.csv',
 'data/Sri Lanka2016.csv',
 'data/Costa Rica2011.csv',
 'data/Indonesia2009.csv',
 'data/Argentina2018.csv',
 'data/Uruguay2019.csv',
 'data/Costa Rica2013.csv',
 'data/Sri Lanka2014.csv',
 'data/Guatemala2011.csv',
 'data/Norway2009.csv',
 'data/Bolivia2009.csv',
 'data/Paraguay2012.csv',
 'data/Saudi Arabia2009.csv',
 'data/Singapore2010.csv',
 'data/India2018.csv',
 'data/Denmark2017.csv',
 'data/Egypt2018.csv',
 'data/South Korea2013.csv',
 'data/United States Of America2015.csv',
 'data/Lithuania2013.csv',
 'data/Czech Republic2012.csv',
 'data/Hong Kong2019.csv',
 'data/Jamaica2013.csv',
 'data/Colombia2019.csv',
 'data/Serbia2013.csv',
 'data/Finland2015.csv',
 'data/Luxembourg2013.csv',
 'data/Iceland2010.csv',
 'data/Hungary2009.csv',
 'data/Croatia2015.csv',
 'data/Estonia2016.csv',
 'data/Greece2018.csv',
 'data/Latvia2012.csv',
 'data/Kyrgyzstan2011.csv',
 'data/Bosnia And Herzegovina2017.csv',
 'data/China2011.csv',
 'data/Brazil2018.csv',
 'data/Belarus2013.csv',
 'data/Belize2010.csv',
 'data/Belize2011.csv',
 'data/Belarus2012.csv',
 'data/Brazil2019.csv',
 'data/China2010.csv',
 'data/Bosnia And Herzegovina2016.csv',
 'data/Kyrgyzstan2010.csv',
 'data/Latvia2013.csv',
 'data/Greece2019.csv',
 'data/Estonia2017.csv',
 'data/Croatia2014.csv',
 'data/Iceland2011.csv',
 'data/Luxembourg2012.csv',
 'data/Finland2014.csv',
 'data/Serbia2012.csv',
 'data/Jamaica2012.csv',
 'data/Colombia2018.csv',
 'data/Hong Kong2018.csv',
 'data/Czech Republic2013.csv',
 'data/Lithuania2012.csv',
 'data/United States Of America2014.csv',
 'data/South Korea2012.csv',
 'data/Egypt2019.csv',
 'data/Denmark2016.csv',
 'data/Switzerland2009.csv',
 'data/India2019.csv',
 'data/Paraguay2013.csv',
 'data/Singapore2011.csv',
 'data/Guatemala2010.csv',
 'data/Sri Lanka2015.csv',
 'data/Costa Rica2012.csv',
 'data/Uruguay2018.csv',
 'data/Argentina2016.csv',
 'data/Uruguay2015.csv',
 'data/Sri Lanka2018.csv',
 'data/Indonesia2013.csv',
 'data/Guatemala2009.csv',
 'data/Bolivia2011.csv',
 'data/Norway2011.csv',
 'data/Saudi Arabia2011.csv',
 'data/Switzerland2010.csv',
 'data/India2014.csv',
 'data/United States Of America2019.csv',
 'data/Egypt2014.csv',
 'data/Sweden2012.csv',
 'data/Russian Federation2012.csv',
 'data/Poland2012.csv',
 'data/Canada2012.csv',
 'data/Hong Kong2015.csv',
 'data/Macedonia2016.csv',
 'data/Finland2019.csv',
 'data/Colombia2015.csv',
 'data/Croatia2019.csv',
 'data/Portugal2016.csv',
 'data/Hungary2011.csv',
 'data/Greece2014.csv',
 'data/Isreal2012.csv',
 'data/Kyrgyzstan2009.csv',
 'data/Mexico2013.csv',
 'data/China2009.csv',
 'data/Albania2017.csv',
 'data/Brazil2014.csv',
 'data/Belize2009.csv',
 'data/Brazil2015.csv',
 'data/Albania2016.csv',
 'data/Mexico2012.csv',
 'data/Isreal2013.csv',
 'data/Greece2015.csv',
 'data/Portugal2017.csv',
 'data/Croatia2018.csv',
 'data/Hungary2010.csv',
 'data/Iceland2009.csv',
 'data/Colombia2014.csv',
 'data/Macedonia2017.csv',
 'data/Finland2018.csv',
 'data/Hong Kong2014.csv',
 'data/Poland2013.csv',
 'data/Canada2013.csv',
 'data/Russian Federation2013.csv',
 'data/Sweden2013.csv',
 'data/Egypt2015.csv',
 'data/United States Of America2018.csv',
 'data/India2015.csv',
 'data/Switzerland2011.csv',
 'data/Singapore2009.csv',
 'data/Saudi Arabia2010.csv',
 'data/Norway2010.csv',
 'data/Bolivia2010.csv',
 'data/Sri Lanka2019.csv',
 'data/Indonesia2012.csv',
 'data/Uruguay2014.csv',
 'data/Argentina2017.csv',
 'data/Argentina2015.csv',
 'data/Uruguay2016.csv',
 'data/Indonesia2010.csv',
 'data/Bolivia2012.csv',
 'data/Norway2012.csv',
 'data/Paraguay2009.csv',
 'data/Saudi Arabia2012.csv',
 'data/India2017.csv',
 'data/Denmark2018.csv',
 'data/Switzerland2013.csv',
 'data/Russian Federation2011.csv',
 'data/Egypt2017.csv',
 'data/Sweden2011.csv',
 'data/Canada2011.csv',
 'data/Poland2011.csv',
 'data/Hong Kong2016.csv',
 'data/Czech Republic2009.csv',
 'data/Colombia2016.csv',
 'data/Macedonia2015.csv',
 'data/Hungary2012.csv',
 'data/Portugal2015.csv',
 'data/Estonia2019.csv',
 'data/Isreal2011.csv',
 'data/Greece2017.csv',
 'data/Bosnia And Herzegovina2018.csv',
 'data/Latvia2009.csv',
 'data/Mexico2010.csv',
 'data/Albania2014.csv',
 'data/Brazil2017.csv',
 'data/Brazil2016.csv',
 'data/Albania2015.csv',
 'data/Belarus2009.csv',
 'data/Mexico2011.csv',
 'data/Bosnia And Herzegovina2019.csv',
 'data/Greece2016.csv',
 'data/Estonia2018.csv',
 'data/Isreal2010.csv',
 'data/Hungary2013.csv',
 'data/Portugal2014.csv',
 'data/Jamaica2009.csv',
 'data/Macedonia2014.csv',
 'data/Colombia2017.csv',
 'data/Luxembourg2009.csv',
 'data/Serbia2009.csv',
 'data/Hong Kong2017.csv',
 'data/Lithuania2009.csv',
 'data/Canada2010.csv',
 'data/Poland2010.csv',
 'data/Sweden2010.csv',
 'data/Egypt2016.csv',
 'data/South Korea2009.csv',
 'data/Russian Federation2010.csv',
 'data/Denmark2019.csv',
 'data/Switzerland2012.csv',
 'data/India2016.csv',
 'data/Saudi Arabia2013.csv',
 'data/Norway2013.csv',
 'data/Bolivia2013.csv',
 'data/Costa Rica2009.csv',
 'data/Indonesia2011.csv',
 'data/Uruguay2017.csv',
 'data/Argentina2014.csv',
 'data/Costa Rica2019.csv',
 'data/Indonesia2015.csv',
 'data/Argentina2010.csv',
 'data/Uruguay2013.csv',
 'data/Denmark2009.csv',
 'data/India2012.csv',
 'data/Switzerland2016.csv',
 'data/Paraguay2018.csv',
 'data/Norway2017.csv',
 'data/Bolivia2017.csv',
 'data/Saudi Arabia2017.csv',
 'data/Poland2014.csv',
 'data/Canada2014.csv',
 'data/Lithuania2019.csv',
 'data/Russian Federation2014.csv',
 'data/South Korea2019.csv',
 'data/Egypt2012.csv',
 'data/Sweden2014.csv',
 'data/Jamaica2019.csv',
 'data/Colombia2013.csv',
 'data/Macedonia2010.csv',
 'data/Serbia2019.csv',
 'data/Luxembourg2019.csv',
 'data/Czech Republic2018.csv',
 'data/Hong Kong2013.csv',
 'data/Isreal2014.csv',
 'data/Greece2012.csv',
 'data/Portugal2010.csv',
 'data/Hungary2017.csv',
 'data/Mexico2015.csv',
 'data/Bosnia And Herzegovina2009.csv',
 'data/Latvia2018.csv',
 'data/Belarus2019.csv',
 'data/Albania2011.csv',
 'data/Brazil2012.csv',
 'data/Brazil2013.csv',
 'data/Albania2010.csv',
 'data/Belarus2018.csv',
 'data/Latvia2019.csv',
 'data/Mexico2014.csv',
 'data/Portugal2011.csv',
 'data/Hungary2016.csv',
 'data/Estonia2009.csv',
 'data/Greece2013.csv',
 'data/Isreal2015.csv',
 'data/Hong Kong2012.csv',
 'data/Czech Republic2019.csv',
 'data/Macedonia2011.csv',
 'data/Luxembourg2018.csv',
 'data/Serbia2018.csv',
 'data/Jamaica2018.csv',
 'data/Colombia2012.csv',
 'data/Sweden2015.csv',
 'data/Egypt2013.csv',
 'data/South Korea2018.csv',
 'data/Russian Federation2015.csv',
 'data/Lithuania2018.csv',
 'data/Poland2015.csv',
 'data/Canada2015.csv',
 'data/Saudi Arabia2016.csv',
 'data/Bolivia2016.csv',
 'data/Norway2016.csv',
 'data/Paraguay2019.csv',
 'data/Switzerland2017.csv',
 'data/India2013.csv',
 'data/Uruguay2012.csv',
 'data/Argentina2011.csv',
 'data/Costa Rica2018.csv',
 'data/Indonesia2014.csv',
 'data/Sri Lanka2009.csv',
 'data/Indonesia2016.csv',
 'data/Argentina2013.csv',
 'data/Uruguay2010.csv',
 'data/Guatemala2018.csv',
 'data/Switzerland2015.csv',
 'data/India2011.csv',
 'data/Norway2014.csv',
 'data/Bolivia2014.csv',
 'data/Saudi Arabia2014.csv',
 'data/Singapore2019.csv',
 'data/Canada2017.csv',
 'data/Poland2017.csv',
 'data/Egypt2011.csv',
 'data/Sweden2017.csv',
 'data/Russian Federation2017.csv',
 'data/Iceland2019.csv',
 'data/Macedonia2013.csv',
 'data/Colombia2010.csv',
 'data/Hong Kong2010.csv',
 'data/Greece2011.csv',
 'data/Isreal2017.csv',
 'data/Hungary2014.csv',
 'data/Portugal2013.csv',
 'data/China2018.csv',
 'data/Mexico2016.csv',
 'data/Kyrgyzstan2018.csv',
 'data/Albania2012.csv',
 'data/Belize2019.csv',
 'data/Brazil2011.csv',
 'data/Brazil2010.csv',
 'data/Belize2018.csv',
 'data/Albania2013.csv',
 'data/Kyrgyzstan2019.csv',
 'data/Mexico2017.csv',
 'data/China2019.csv',
 'data/Croatia2009.csv',
 'data/Hungary2015.csv',
 'data/Portugal2012.csv',
 'data/Isreal2016.csv',
 'data/Greece2010.csv',
 'data/Hong Kong2011.csv',
 'data/Colombia2011.csv',
 'data/Finland2009.csv',
 'data/Iceland2018.csv',
 'data/Macedonia2012.csv',
 'data/United States Of America2009.csv',
 'data/Russian Federation2016.csv',
 'data/Sweden2016.csv',
 'data/Egypt2010.csv',
 'data/Canada2016.csv',
 'data/Poland2016.csv',
 'data/Singapore2018.csv',
 'data/Saudi Arabia2015.csv',
 'data/Bolivia2015.csv',
 'data/Norway2015.csv',
 'data/India2010.csv',
 'data/Switzerland2014.csv',
 'data/Guatemala2019.csv',
 'data/Uruguay2011.csv',
 'data/Argentina2012.csv',
 'data/Indonesia2017.csv',
 'data/Thailand2015.csv',
 'data/Slovenia2013.csv',
 'data/Malaysia2011.csv',
 'data/Bulgaria2014.csv',
 'data/Georgia2014.csv',
 'data/Peru2010.csv',
 'data/Venezuela2018.csv',
 'data/Italy2011.csv',
 'data/Romania2015.csv',
 'data/Botswana2012.csv',
 'data/Slovakia (Slovak Republic)2013.csv',
 'data/Brunei Darussalam2019.csv',
 'data/Philippines2017.csv',
 'data/United Kingdom2015.csv',
 'data/Mauritius2012.csv',
 'data/Spain2013.csv',
 'data/Morocco2017.csv',
 'data/South Africa2019.csv',
 'data/Jordan2019.csv',
 'data/Japan2011.csv',
 'data/Chile2019.csv',
 'data/Rwanda2016.csv',
 'data/El Salvador2016.csv',
 'data/Qatar2014.csv',
 'data/Germany2018.csv',
 'data/France2009.csv',
 'data/Maldives2019.csv',
 'data/Netherlands2009.csv',
 'data/Australia2013.csv',
 'data/Ukraine2011.csv',
 'data/Austria2019.csv',
 'data/Ireland2013.csv',
 'data/Ireland2012.csv',
 'data/Austria2018.csv',
 'data/Kenya2009.csv',
 'data/Ukraine2010.csv',
 'data/Australia2012.csv',
 'data/Maldives2018.csv',
 'data/Germany2019.csv',
 'data/Qatar2015.csv',
 'data/El Salvador2017.csv',

In [9]:
all_df = []
for file in all_files:
    df = pd.read_csv(file)
    all_df.append(df)

In [10]:
df = pd.concat(all_df).drop(columns = "Unnamed: 0").reset_index(drop=True)
print(df.shape)
print(df.columns)
df.head()

(11352, 35)
Index(['Date', 'iOS', 'Android', 'Unknown', 'Windows', 'Samsung',
       'Nokia Unknown', 'BlackBerry OS', 'Linux', 'Other', 'country',
       'Series 40', 'SymbianOS', 'Sony Ericsson', 'Playstation', 'LG', 'OS X',
       'Maemo 5', 'bada', 'Nintendo', 'Nintendo 3DS', 'MeeGo', 'Motorola',
       'JAVA', 'Firefox OS', 'Tizen', 'WAP', 'webOS', 'LiMo', 'Palm', 'KaiOS',
       'Rex', 'DangerOS', 'Brew', 'Sailfish'],
      dtype='object')

,Date,iOS,Android,Unknown,Windows,Samsung,Nokia Unknown,BlackBerry OS,Linux,Other,...,Tizen,WAP,webOS,LiMo,Palm,KaiOS,Rex,DangerOS,Brew,Sailfish
0,2017-01,58.17,41.34,0.18,0.18,0.01,0.02,0.06,0.01,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-02,59.93,39.71,0.16,0.08,0.01,0.02,0.06,0.01,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-03,61.63,37.94,0.20,0.10,0.02,0.02,0.04,0.03,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-04,59.94,39.56,0.22,0.08,0.05,0.09,0.02,0.02,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-05,59.87,39.78,0.17,0.06,0.06,0.03,0.02,0.00,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df = df[['Date', "country", 'iOS', 'Android', 'Unknown', 'Windows', 'Samsung',
       'Nokia Unknown', 'BlackBerry OS', 'Linux', 'Other',
       'Series 40', 'SymbianOS', 'Sony Ericsson', 'Playstation', 'LG', 'OS X',
       'Maemo 5', 'bada', 'Nintendo', 'Nintendo 3DS', 'MeeGo', 'JAVA',
       'Firefox OS', 'Tizen', 'WAP', 'webOS', 'LiMo', 'Motorola', 'Palm',
       'KaiOS', 'Rex', 'DangerOS', 'Brew', 'Sailfish']]
df.rename(columns = {"country":"Country Name"}, inplace=True)
df.head()

,Date,Country Name,iOS,Android,Unknown,Windows,Samsung,Nokia Unknown,BlackBerry OS,Linux,...,WAP,webOS,LiMo,Motorola,Palm,KaiOS,Rex,DangerOS,Brew,Sailfish
0,2017-01,Macao,58.17,41.34,0.18,0.18,0.01,0.02,0.06,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-02,Macao,59.93,39.71,0.16,0.08,0.01,0.02,0.06,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-03,Macao,61.63,37.94,0.20,0.10,0.02,0.02,0.04,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-04,Macao,59.94,39.56,0.22,0.08,0.05,0.09,0.02,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-05,Macao,59.87,39.78,0.17,0.06,0.06,0.03,0.02,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df["Date"] = pd.to_datetime(df["Date"])
df.head()

,Date,Country Name,iOS,Android,Unknown,Windows,Samsung,Nokia Unknown,BlackBerry OS,Linux,...,WAP,webOS,LiMo,Motorola,Palm,KaiOS,Rex,DangerOS,Brew,Sailfish
0,2017-01-01,Macao,58.17,41.34,0.18,0.18,0.01,0.02,0.06,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-02-01,Macao,59.93,39.71,0.16,0.08,0.01,0.02,0.06,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-03-01,Macao,61.63,37.94,0.20,0.10,0.02,0.02,0.04,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-04-01,Macao,59.94,39.56,0.22,0.08,0.05,0.09,0.02,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-05-01,Macao,59.87,39.78,0.17,0.06,0.06,0.03,0.02,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.columns

Index(['Date', 'Country Name', 'iOS', 'Android', 'Unknown', 'Windows',
       'Samsung', 'Nokia Unknown', 'BlackBerry OS', 'Linux', 'Other',
       'Series 40', 'SymbianOS', 'Sony Ericsson', 'Playstation', 'LG', 'OS X',
       'Maemo 5', 'bada', 'Nintendo', 'Nintendo 3DS', 'MeeGo', 'JAVA',
       'Firefox OS', 'Tizen', 'WAP', 'webOS', 'LiMo', 'Motorola', 'Palm',
       'KaiOS', 'Rex', 'DangerOS', 'Brew', 'Sailfish'],
      dtype='object')

In [42]:
df = df.set_index('Date').groupby('Country Name').resample('Q')['iOS', 'Android', 'Unknown', 'Windows',
       'Samsung', 'Nokia Unknown', 'BlackBerry OS', 'Linux', 'Other',
       'Series 40', 'SymbianOS', 'Sony Ericsson', 'Playstation', 'LG', 'OS X',
       'Maemo 5', 'bada', 'Nintendo', 'Nintendo 3DS', 'MeeGo', 'JAVA',
       'Firefox OS', 'Tizen', 'WAP', 'webOS', 'LiMo', 'Motorola', 'Palm',
       'KaiOS', 'Rex', 'DangerOS', 'Brew', 'Sailfish'].mean().reset_index()
df.head()

,Country Name,Date,iOS,Android,Unknown,Windows,Samsung,Nokia Unknown,BlackBerry OS,Linux,...,WAP,webOS,LiMo,Motorola,Palm,KaiOS,Rex,DangerOS,Brew,Sailfish
0,Albania,2009-03-31,11.966667,0.023333,2.100000,1.566667,0.000000,NaN,0.020000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,2009-06-30,14.336667,0.026667,4.816667,2.006667,0.000000,NaN,0.016667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,2009-09-30,13.186667,0.120000,3.446667,1.553333,0.896667,NaN,0.083333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,2009-12-31,12.823333,0.266667,1.123333,0.860000,0.950000,NaN,0.736667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albania,2010-03-31,13.696667,1.216667,1.936667,1.030000,0.903333,NaN,0.606667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df["Year"] = pd.DatetimeIndex(df["Date"]).year
df["Quarter"] = pd.DatetimeIndex(df["Date"]).quarter
df.head()

,Country Name,Date,iOS,Android,Unknown,Windows,Samsung,Nokia Unknown,BlackBerry OS,Linux,...,LiMo,Motorola,Palm,KaiOS,Rex,DangerOS,Brew,Sailfish,Year,Quarter
0,Albania,2009-03-31,11.966667,0.023333,2.100000,1.566667,0.000000,NaN,0.020000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009,1
1,Albania,2009-06-30,14.336667,0.026667,4.816667,2.006667,0.000000,NaN,0.016667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009,2
2,Albania,2009-09-30,13.186667,0.120000,3.446667,1.553333,0.896667,NaN,0.083333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009,3
3,Albania,2009-12-31,12.823333,0.266667,1.123333,0.860000,0.950000,NaN,0.736667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009,4
4,Albania,2010-03-31,13.696667,1.216667,1.936667,1.030000,0.903333,NaN,0.606667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,1

In [15]:
df.to_csv("output/mobile_so_monthly.csv", index=None)

In [44]:
df.columns

Index(['Country Name', 'Date', 'iOS', 'Android', 'Unknown', 'Windows',
       'Samsung', 'Nokia Unknown', 'BlackBerry OS', 'Linux', 'Other',
       'Series 40', 'SymbianOS', 'Sony Ericsson', 'Playstation', 'LG', 'OS X',
       'Maemo 5', 'bada', 'Nintendo', 'Nintendo 3DS', 'MeeGo', 'JAVA',
       'Firefox OS', 'Tizen', 'WAP', 'webOS', 'LiMo', 'Motorola', 'Palm',
       'KaiOS', 'Rex', 'DangerOS', 'Brew', 'Sailfish', 'Year', 'Quarter'],
      dtype='object')

In [45]:
df_clean = df.drop(columns = "Date")
df_clean = df_clean[["Year", "Quarter",'Country Name', 'iOS', 'Android', 'Unknown', 'Windows',
       'Samsung', 'Nokia Unknown', 'BlackBerry OS', 'Linux', 'Other',
       'Series 40', 'SymbianOS', 'Sony Ericsson', 'Playstation', 'LG', 'OS X',
       'Maemo 5', 'bada', 'Nintendo', 'Nintendo 3DS', 'MeeGo', 'JAVA',
       'Firefox OS', 'Tizen', 'WAP', 'webOS', 'LiMo', 'Motorola', 'Palm',
       'KaiOS', 'Rex', 'DangerOS', 'Brew', 'Sailfish']]
df_clean.head()

,Year,Quarter,Country Name,iOS,Android,Unknown,Windows,Samsung,Nokia Unknown,BlackBerry OS,...,WAP,webOS,LiMo,Motorola,Palm,KaiOS,Rex,DangerOS,Brew,Sailfish
0,2009,1,Albania,11.966667,0.023333,2.100000,1.566667,0.000000,NaN,0.020000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009,2,Albania,14.336667,0.026667,4.816667,2.006667,0.000000,NaN,0.016667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009,3,Albania,13.186667,0.120000,3.446667,1.553333,0.896667,NaN,0.083333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009,4,Albania,12.823333,0.266667,1.123333,0.860000,0.950000,NaN,0.736667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,1,Albania,13.696667,1.216667,1.936667,1.030000,0.903333,NaN,0.606667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df_clean.to_csv("output/mobile_so.csv", index=None)